.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
Gemfile.lock
/.idea
/tmp
/data/real_data/graph.csv
/data/real_data/test_graph.csv
/spec/dummy/data/real_data/graph.csv
/spec/dummy/data/real_data/test_graph.csv
