%h1 Insert new data

%h2 Create a new resource

%table
  %tr
    %th predicate
    %th object
  %tr
    %td= select_tag('predicate', options_for_select(@predicates))
    %td= text_field_tag('object')

