%h2 New resource was created

=render partial: 'dbd_data_engine/shared/links'

%h3 context:
%p
  =render partial: 'dbd_data_engine/contexts/context', object: @context

%h3 resource:
%table
  %tr
    %th predicate
    %th object
  =render partial: 'fact_with_context', collection: @resource.map{ |fact| { fact: fact } }

