%h2 New resource was created

%h3 context:
%p
  =render partial: 'dbd_data_engine/contexts/context', object: @context.to_a

%h3 resource:
%table
  %tr
    %th predicate
    %th object
  =render partial: 'fact', collection: @resource.to_a

