%h1 Resources#index

=render partial: 'dbd_data_engine/shared/links'

- @resources_with_context.each do |resource_with_contexts|
  = render partial: 'resource_with_contexts', object: resource_with_contexts
