%h1 Create a new context

= form_tag('/data/contexts', method: :post) do # engine controller route not loaded in view tests
  %table
    %tr
      %th predicate
      %th object
    - @predicates.each do |predicate|
      %tr
        %td= text_field_tag('predicate[]', predicate)
        %td= text_field_tag('object[]')

  %p= submit_tag('Submit')
